<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WeChat_Pay_Demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9CCAFCA41C89650F00F6036B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9CCAFCBD1C89651000F6036B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9CCAFCC81C89651000F6036B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
